@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.backdrop {
  width: 100vw;
  height: 100dvh;
  background-color: #12326e;
  display: flex;
  flex-direction: column;
}

.logoText {
  color: rgb(226, 226, 226);
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-direction: row;
  padding: 1.5em;
  justify-content: space-between;
}
.navLinks {
  * {
    color: #3a72da;
    text-decoration: none;
    font-weight: 600;
    margin: 0.4em;
    padding: 0.6em 0.8em;
    background-color: #fff;
    border-radius: 0.5em;
  }
  .active {
    color: white;
    background-color: #3a72da;
  }
}
