.iconContainer {
  padding: 0.3em;
  flex: 1;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceWrapper {
  display: flex;
  justify-content: center;
  width: 10%;
  height: 120px;
  background-color: #fff;
  margin: 1em 2em 1em 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 5px 2px rgb(0, 0, 0);
}
.service {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.actionButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.greetingTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
