::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.queue-container {
  height: 400px;
  background-color: #3a72da;
  border-radius: 10px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  p {
    line-height: 1;
  }
}
.queue-container-active {
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  color: #3a72da;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  p {
    line-height: 1;
  }
}
.icon-container {
  padding: 0.3em;
  /* flex: 1; */
  background-color: #fff;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
}

h4 {
  font-size: larger;
}
